@font-face {
    font-family: 'Montreal';
    src: url('../fonts/Montreal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montreal';
    src: url('../fonts/Montreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../fonts/font_EditorialNew/EditorialNew-Bold.woff2') format('woff2'),
        url('../fonts/font_EditorialNew/EditorialNew-Heavy.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Light.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Medium.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Regular.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Thin.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Ultrabold.woff2') format('woff'),
        url('../fonts/font_EditorialNew/EditorialNew-Ultralight.woff2') format('woff');
    font-weight: normal, 100, 200, 300, 500, bold, 800, 900;
    font-style: normal;
    font-display: swap;
}