@import url(reset.css);
@import url(fonts.css);

body {
    font-family: "Montreal", sans-serif;
}

[class*="__container"] {
    max-width: 101.875rem;/*1630px*/
    padding-inline: 0.9375rem; /*15px*/
    margin: 0 auto;
}

/* header --------------------------------- */
.header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    mix-blend-mode: difference;
    color: #fff;
    background-color: rgba(42, 123, 155, 1);
    z-index: 10;
}
.header__container {

}

.header__inner {
    display: flex;
    justify-content: space-between;
    gap: 3px 20px;
    align-items: center;
    height: 30px;
    margin: 20px 0;
    color: #ffffff;
}

.header__logo,
.header__contacts {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: -0.1em;
}

.text-hover__inner {
    display: inline-block;
    overflow: hidden;
    height: 1.05em;
    padding: 0 5px;
}

.text-hover__elem {
    display: flex;
}

.header__menu-inner {
    display: flex;
    gap: 3px 5px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* white-space: nowrap; */
}

.header__menu {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.1em;
}

/* --------------------------------- */

.text-hover__elem-1 .char {
    transition: transform 0.4s ease;
    transform: translateY(0);
}

.text-hover__elem-2 .char {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.text-hover__inner:hover .text-hover__elem-1 .char {
    transform: translateY(-120%);
}

.text-hover__inner:hover .text-hover__elem-2 .char {
    transform: translateY(-100%);
}

/* main --------------------------------- */

.main{
    position: relative;
    overflow: hidden;
}
.main__bg {
    height: 100vh;
    background: url(../img/cats.jpg) no-repeat center / cover;
    opacity: 0.6; 
    
}

.main__imag-overlay{
}
.main__image {
    position: absolute;
    left: 50%;
    bottom: 50%; 
    transform: translate(-50%, 50%);
    animation-name: gerda;
    animation-duration: 5s;
    width: 85%;
}

@keyframes gerda {
    0% {
        left: 10%;
        bottom: 0%; 
        transform: scale(2.1) translate(0%, 30%);
    }
    70% {
        left: 10%;
        bottom: 0%;
        transform: scale(2.1) translate(0%, 30%);
    }
    100% {
        transform: translate(-50%, 50%);
    }
}

/* main__counter --------------------------------- */
.main__counter {
    position: absolute;
    left: 72%;
    bottom: 20.625rem; 
    transform: ease translate(0%, 0%);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.1em;
    color: rgb(253, 253, 253);
    animation-name: counter;
    animation-duration: 5s;
    visibility: hidden;
}
@keyframes counter {
    0% {
        transform: translateX(0);
        visibility: visible;
    }
   70% {
        transform: translateX(0);
    }
    100% {
        transform:  translateX(700px);
    }
}

/* main__slider --------------------------------- */
.main__slider {
    position: absolute;
    left: 33%;
    bottom: 320px; 
    transform: ease translate(0%, 0%);
    animation-name: slider;
    animation-duration: 5s;
    visibility: hidden;
}
@keyframes slider {
    0% {
       transform: translateX(0);
        visibility: visible;
    }
   70% {
       transform: translateX(0);
    }
    100% {
        transform: translate(-750px);
    }
}

.slider__main {
    height: 110px;
    width: 110px;
    background: url('../img/cat-1.png') no-repeat center;
    background-size: cover;
    animation: slideAnimation 950ms ;
    animation-iteration-count: 3;
}

@keyframes slideAnimation {
  0% { background-image: url('../img/cat-2.png'); background-size: cover;}
  14% { background-image: url('../img/cat-3.png'); background-size: cover;}
  28% { background-image: url('../img/cat-4.png'); background-size: cover;}
  42% { background-image: url('../img/cat-5.png'); background-size: cover;}
  56% { background-image: url('../img/cat-6.png'); background-size: cover;}
  70% { background-image: url('../img/cat-7.png'); background-size: cover;}
  85% { background-image: url('../img/cat-8.png'); background-size: cover;}
}


.main__content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: clamp(2.8rem, 8vw, 12rem);
    animation-name: caption;
    animation-duration: 5s;
}
@keyframes caption {
    0% {
        top: -10%;
    }
   70% {
        top: -10%;
    }
    100% {
        top: 50%;
    }
}

/* footer --------------------------------- */

.footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    mix-blend-mode: difference;
    color: #fff;
    background-color: rgba(42, 123, 155, 1);
    z-index: 10;
}
.footer__container {
    font-family: "Editorial", sans-serif;
    letter-spacing: -0.04em;
    font-weight: 300;
    /* font-size: 40px; */
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}



@media (max-width: 1024px) {
.main__image {
    width: 200%;
    left: 50%;
    bottom: 50%; 
    transform: translate(-50%, 50%);
}
@keyframes gerda {
    0% {
        left: -50%;
        bottom: 0%; 
        transform: scale(1.5) translate(0%, 30%);
    }
    70% {
        left: -50%;
        bottom: 0%;
        transform: scale(1.5) translate(0%, 30%);
    }
    100% {
        left: 50%;
        bottom: 50%; 
        transform:  translate(-50%, 50%);
    }
}
.main__counter {
    left: 82%;
    bottom: 25%; 
    font-size: 2.3rem;
}
.main__slider {
    left: 17%;
    bottom: 25%;  
}
.slider__main {
    height: 50px;
    width: 50px;
}
}



