@import url(reset.css);
@import url(fonts.css);

body {
    font-family: "Montreal", sans-serif;
}

[class*="__container"] {
    max-width: 1630px;
    padding-inline: 50px;
    margin: 0 auto;
}

/* header --------------------------------- */

.header__container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    background-color: rgba(42, 123, 155, 1);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical-align: baseline; */
    height: 30px;
    margin: 20px 0;
    color: #ffffff;
}

.header__logo,
.header__contacts {
    font-size: 1.6em;
    /* text-transform: uppercase; */
    font-weight: 700;
    letter-spacing: -0.1em;
}

.text-hover__inner {
    display: inline-block;
    overflow: hidden;
    height: 1.05em;
    padding: 0 5px;
}

.text-hover__elem {
    display: flex;
}

.header__menu-inner {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.header__menu {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.1em;
}

/* --------------------------------- */

.text-hover__elem-1 .char {
    transition: transform 0.4s ease;
    transform: translateY(0);
}

.text-hover__elem-2 .char {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.text-hover__inner:hover .text-hover__elem-1 .char {
    transform: translateY(-120%);
}

.text-hover__inner:hover .text-hover__elem-2 .char {
    transform: translateY(-100%);
}

/* main --------------------------------- */

.main{
background: linear-gradient(180deg, rgba(237, 221, 83, 1) 0%, rgba(42, 123, 155, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.main__imag {
    background: url(../img/cats.jpg) no-repeat center / cover;
    height: 100vh;
    opacity: 0.6;
}

.main__imag-overlay{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    animation-name: gerda;
    animation-duration: 5s;
    background: url(../img/gerda.png) no-repeat center;
    background-size: 85%;
    width: auto;
    height: 100vh;
    opacity: 1;
}

@keyframes gerda {
    0% {
        transform: scale(2.1);
        top: 500px;
    }
   70% {
        transform: scale(2.1);
        top: 500px;
    }
    100% {
        transform: scale(1);
        top: 0;
    }
}


/* main__counter --------------------------------- */
.main__counter {
    position: absolute;
    top: 7em; 
    left: 31.3em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.1em;
    color: rgb(253, 253, 253);
    animation-name: counter;
    animation-duration: 5s;
    visibility: hidden;
}
@keyframes counter {
    0% {
         left: 31.3em;
        visibility: visible;
    }
   70% {
        left: 31.3em;
        visibility: visible;
    }
    100% {
        left: 55em;
        visibility: visible;
    }
}

/* main__slider --------------------------------- */
.main__slider {
    position: absolute;
    top: 13em; 
    left: 42.5em;
    transform: ease;
    animation-name: slider;
    animation-duration: 5s;
    visibility: hidden;
}
@keyframes slider {
    0% {
         left: 42.5em;
        visibility: visible;
    }
   70% {
        left: 42.5em;
        visibility: visible;
    }
    100% {
        left: -5em;
        visibility: visible;
    }
}

.slider__maim-images {
    height: 60px;
    width: 60px;
    background: url('../img/cat-1.png') no-repeat center;
    background-size: cover;
    animation: slideAnimation 950ms ;
    animation-iteration-count: 3;
}

@keyframes slideAnimation {
  0% { background-image: url('../img/cat-2.png'); background-size: cover;}
  14% { background-image: url('../img/cat-3.png'); background-size: cover;}
  28% { background-image: url('../img/cat-4.png'); background-size: cover;}
  42% { background-image: url('../img/cat-5.png'); background-size: cover;}
  56% { background-image: url('../img/cat-6.png'); background-size: cover;}
  70% { background-image: url('../img/cat-7.png'); background-size: cover;}
  85% { background-image: url('../img/cat-8.png'); background-size: cover;}
}


.maim__container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 12em;
    animation-name: caption;
    animation-duration: 5s;
}
@keyframes caption {
    0% {
        top: -10%;
    }
   70% {
        top: -10%;
    }
    100% {
        top: 50%;
    }
}

/* footer --------------------------------- */

.footer {
    font-family: "Editorial", sans-serif;
    letter-spacing: -0.04em;
    font-weight: 300;
    font-size: 2.5em;
    z-index: 10;
    mix-blend-mode: difference;
    color: #fff;
}
.footer__container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    background-color: rgba(42, 123, 155, 1);
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.footer__link {
    /* align-items: center; */
    /* vertical-align: baseline; */
}
.text-hover__inner {
}
.text-hover__elem {
}
.text-hover__elem-1 {
}
.char {
}
.text-hover__elem-2 {
}



